USE [QLDB]
GO
/****** Object:  StoredProcedure [dbo].[CKDANGNHAP]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CKDANGNHAP](@username NVARCHAR(50), @pwd NVARCHAR(50))
AS
	IF NOT EXISTS(SELECT * FROM DANGNHAP WHERE TENDANGNHAP=@username) RETURN 0
	IF @pwd = (SELECT MATKHAU FROM DANGNHAP WHERE TENDANGNHAP=@username) RETURN 1
	RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CKDB]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CKDB](@mandn CHAR(5), @sdt VARCHAR(12))
AS
	IF EXISTS(
		SELECT * 
		FROM THONGTINDANHBA INNER JOIN DANHBA
			ON THONGTINDANHBA.MADB = DANHBA.MADB
		WHERE MANDN=@mandn AND SDT=@sdt
	) RETURN 1
	RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CKMADB]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CKMADB](@mandn CHAR(5), @ma VARCHAR(12))
AS
	IF EXISTS(
		SELECT * 
		FROM THONGTINDANHBA
		WHERE MANDN=@mandn AND MADB=@ma
	) RETURN 1
	RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CKNLH]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CKNLH](@mandn CHAR(5), @tenNhomLH VARCHAR(12))
AS
	IF EXISTS(
		SELECT * 
		FROM THONGTINDANHBA INNER JOIN DANHBA
			ON THONGTINDANHBA.MADB = DANHBA.MADB INNER JOIN NHOMLIENHE
			ON DANHBA.MANHOMLH=NHOMLIENHE.MANHOM
		WHERE MANDN=@mandn AND TENNHOMLH=@tenNhomLH
	) RETURN 1
	RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[CKUID]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CKUID](@username NVARCHAR(50))
AS
	IF EXISTS(SELECT * FROM DANGNHAP WHERE TENDANGNHAP=@username) RETURN 1
	RETURN 0

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDB]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDB]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MADB) FROM DANHBA) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MADB, 3)) FROM DANHBA
		SELECT @ID = CASE
			WHEN @ID >=  0 and @ID < 9 THEN 'DB00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=  9 THEN 'DB0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'DB' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDN]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDN]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANDN) FROM DANGNHAP) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANDN, 3)) FROM DANGNHAP
		SELECT @ID = CASE
			WHEN @ID >=  0 and @ID < 9 THEN 'DN00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=  9 THEN 'DN0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'DN' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END

GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDND]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDND]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAND) FROM THONGTIN_NGUOIDUNG) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAND, 3)) FROM THONGTIN_NGUOIDUNG
		SELECT @ID = CASE
			WHEN @ID >=  0 and @ID < 9 THEN 'KH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=  9 THEN 'UN0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'UN' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNLH]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDNLH]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MANHOM) FROM NHOMLIENHE) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANHOM, 3)) FROM NHOMLIENHE
		SELECT @ID = CASE
			WHEN @ID >=  0 and @ID < 9 THEN 'LH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >=  9 THEN 'LH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'LH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END


GO
/****** Object:  UserDefinedFunction [dbo].[GETMAFROMDANHBA]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETMAFROMDANHBA]()
RETURNS VARCHAR(50) 
AS
BEGIN
	DECLARE @maDB VARCHAR(50) 
	SELECT TOP(1)@maDB=MADB FROM DANHBA ORDER BY MADB DESC
	RETURN @maDB
END
GO
/****** Object:  UserDefinedFunction [dbo].[GETMANDN]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETMANDN](@uid VARCHAR(50))
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @MANDN CHAR(5)
	SELECT @MANDN=MANDN FROM DANGNHAP WHERE TENDANGNHAP=@uid
	RETURN @MANDN
END

GO
/****** Object:  UserDefinedFunction [dbo].[GETMANDNONL]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETMANDNONL]()
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @MANDN CHAR(5)
	SELECT @MANDN=MANDN FROM DANGNHAP WHERE TRANGTHAI='CONNECT'
	RETURN @MANDN
END

GO
/****** Object:  UserDefinedFunction [dbo].[GETMANLH]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETMANLH](@maNDN CHAR(5), @tenNLH VARCHAR(60))
RETURNS CHAR(5)
AS
BEGIN
	DECLARE @MANLH CHAR(5)
	SELECT @MANLH=MANHOM 
	FROM THONGTINDANHBA INNER JOIN DANHBA
			ON THONGTINDANHBA.MADB = DANHBA.MADB INNER JOIN NHOMLIENHE
			ON DANHBA.MANHOMLH=NHOMLIENHE.MANHOM
	WHERE MANDN=@mandn AND TENNHOMLH=@tenNLH
	RETURN @MANLH
END
GO
/****** Object:  UserDefinedFunction [dbo].[GETUID]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GETUID](@maNDN CHAR(5))
RETURNS VARCHAR(50) 
AS
BEGIN
	DECLARE @UID VARCHAR(50) 
	SELECT @UID=TENDANGNHAP FROM DANGNHAP WHERE MANDN=@maNDN
	RETURN @UID
END
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[MANDN] [char](5) NOT NULL CONSTRAINT [DF_MANDN]  DEFAULT ([DBO].[AUTO_IDDN]()),
	[TENDANGNHAP] [varchar](50) NULL,
	[MATKHAU] [varchar](50) NULL,
	[TRANGTHAI] [varchar](30) NULL CONSTRAINT [DF_TRANGTHAI]  DEFAULT ('DISCONNECT'),
 CONSTRAINT [PK_DANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MANDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHBA]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHBA](
	[MADB] [char](5) NOT NULL CONSTRAINT [DF_MADB]  DEFAULT ([DBO].[AUTO_IDDB]()),
	[SDT] [varchar](12) NULL,
	[TENDANHBA] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[MANHOMLH] [char](5) NULL,
 CONSTRAINT [PK_THONGTINLIENHE] PRIMARY KEY CLUSTERED 
(
	[MADB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMLIENHE]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMLIENHE](
	[MANHOM] [char](5) NOT NULL CONSTRAINT [DF_MANLH]  DEFAULT ([DBO].[AUTO_IDNLH]()),
	[TENNHOMLH] [nvarchar](60) NULL,
 CONSTRAINT [PK_NLH] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAOLUUDANHBA]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAOLUUDANHBA](
	[MANDN] [char](5) NOT NULL,
	[MADB] [char](5) NOT NULL,
	[NGAYLUU] [date] NULL,
 CONSTRAINT [PK_SAOLUUDANHBA] PRIMARY KEY CLUSTERED 
(
	[MANDN] ASC,
	[MADB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTIN_NGUOIDUNG]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTIN_NGUOIDUNG](
	[MAND] [char](5) NOT NULL CONSTRAINT [DF_MAND]  DEFAULT ([DBO].[AUTO_IDND]()),
	[TENND] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[MANDN] [char](5) NULL,
 CONSTRAINT [PK_THONGTIN_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGTINDANHBA]    Script Date: 2/5/2021 7:22:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGTINDANHBA](
	[MANDN] [char](5) NOT NULL,
	[MADB] [char](5) NOT NULL CONSTRAINT [DF_MDB]  DEFAULT ([DBO].[GETMAFROMDANHBA]()),
	[NGAYLUU] [date] NULL CONSTRAINT [DF_NGAYLUU]  DEFAULT (getdate()),
 CONSTRAINT [PK_THONGTINDANHBA] PRIMARY KEY CLUSTERED 
(
	[MANDN] ASC,
	[MADB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DANGNHAP] ([MANDN], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (N'DN001', N'admin', N'1234', N'DISCONNECT')
INSERT [dbo].[DANGNHAP] ([MANDN], [TENDANGNHAP], [MATKHAU], [TRANGTHAI]) VALUES (N'DN002', N'tuhueson', N'123456789', N'CONNECT')
INSERT [dbo].[DANHBA] ([MADB], [SDT], [TENDANHBA], [EMAIL], [GHICHU], [MANHOMLH]) VALUES (N'DB001', N'0938262481', N'abccccccc', N'abc@acv.com', N'Ghi chú', N'LH001')
INSERT [dbo].[DANHBA] ([MADB], [SDT], [TENDANHBA], [EMAIL], [GHICHU], [MANHOMLH]) VALUES (N'DB002', N'0938546239', N'acddddd', N'acd@mama.com', N'Ghi chú', N'LH001')
INSERT [dbo].[DANHBA] ([MADB], [SDT], [TENDANHBA], [EMAIL], [GHICHU], [MANHOMLH]) VALUES (N'DB003', N'0938263591', N'aqd', N'aqd@kaka.com', N'Ghi chú', N'LH002')
INSERT [dbo].[NHOMLIENHE] ([MANHOM], [TENNHOMLH]) VALUES (N'LH001', N'GiaDinh')
INSERT [dbo].[NHOMLIENHE] ([MANHOM], [TENNHOMLH]) VALUES (N'LH002', N'BanBe')
INSERT [dbo].[NHOMLIENHE] ([MANHOM], [TENNHOMLH]) VALUES (N'LH003', N'GiaDinh')
INSERT [dbo].[SAOLUUDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB002', CAST(N'2021-05-02' AS Date))
INSERT [dbo].[SAOLUUDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB003', CAST(N'2021-05-02' AS Date))
INSERT [dbo].[SAOLUUDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB007', CAST(N'2021-05-02' AS Date))
INSERT [dbo].[THONGTIN_NGUOIDUNG] ([MAND], [TENND], [EMAIL], [NGAYSINH], [MANDN]) VALUES (N'KH001', N'admin', N'admin@gmail.com', CAST(N'2001-01-01' AS Date), N'DN001')
INSERT [dbo].[THONGTIN_NGUOIDUNG] ([MAND], [TENND], [EMAIL], [NGAYSINH], [MANDN]) VALUES (N'KH002', N'Từ Huệ Sơn', N'tuhueson@gmail.com', CAST(N'2001-05-02' AS Date), N'DN002')
INSERT [dbo].[THONGTINDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB002', CAST(N'2021-05-02' AS Date))
INSERT [dbo].[THONGTINDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB003', CAST(N'2021-05-01' AS Date))
INSERT [dbo].[THONGTINDANHBA] ([MANDN], [MADB], [NGAYLUU]) VALUES (N'DN001', N'DB007', CAST(N'2021-05-02' AS Date))
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__DANGNHAP__6C836FE56EA6A0AC]    Script Date: 2/5/2021 7:22:51 PM ******/
ALTER TABLE [dbo].[DANGNHAP] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DANHBA]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINLIENHE_NHOMLH] FOREIGN KEY([MANHOMLH])
REFERENCES [dbo].[NHOMLIENHE] ([MANHOM])
GO
ALTER TABLE [dbo].[DANHBA] CHECK CONSTRAINT [FK_THONGTINLIENHE_NHOMLH]
GO
ALTER TABLE [dbo].[SAOLUUDANHBA]  WITH CHECK ADD  CONSTRAINT [FK_SAOLUUDANHBA_DANGNHAP] FOREIGN KEY([MANDN])
REFERENCES [dbo].[DANGNHAP] ([MANDN])
GO
ALTER TABLE [dbo].[SAOLUUDANHBA] CHECK CONSTRAINT [FK_SAOLUUDANHBA_DANGNHAP]
GO
ALTER TABLE [dbo].[SAOLUUDANHBA]  WITH CHECK ADD  CONSTRAINT [FK_SAOLUUDANHBA_DANHBA] FOREIGN KEY([MADB])
REFERENCES [dbo].[DANHBA] ([MADB])
GO
ALTER TABLE [dbo].[SAOLUUDANHBA] CHECK CONSTRAINT [FK_SAOLUUDANHBA_DANHBA]
GO
ALTER TABLE [dbo].[THONGTIN_NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_THONGTIN_NGUOIDUNG_DANGNHAP] FOREIGN KEY([MANDN])
REFERENCES [dbo].[DANGNHAP] ([MANDN])
GO
ALTER TABLE [dbo].[THONGTIN_NGUOIDUNG] CHECK CONSTRAINT [FK_THONGTIN_NGUOIDUNG_DANGNHAP]
GO
ALTER TABLE [dbo].[THONGTINDANHBA]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDANHBA_DANGNHAP] FOREIGN KEY([MANDN])
REFERENCES [dbo].[DANGNHAP] ([MANDN])
GO
ALTER TABLE [dbo].[THONGTINDANHBA] CHECK CONSTRAINT [FK_THONGTINDANHBA_DANGNHAP]
GO
ALTER TABLE [dbo].[THONGTINDANHBA]  WITH CHECK ADD  CONSTRAINT [FK_THONGTINDANHBA_DANHBA] FOREIGN KEY([MADB])
REFERENCES [dbo].[DANHBA] ([MADB])
GO
ALTER TABLE [dbo].[THONGTINDANHBA] CHECK CONSTRAINT [FK_THONGTINDANHBA_DANHBA]
GO
